.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title,
.description {
  color: #223867;
  font-family: 'Roboto', sans-serif;
}
.title {
  margin: 0;
  font-size: 40px;
  font-weight: 900;
}
.description {
  font-size: 36px;
  font-weight: 700;
  margin: 10px 0;
}
.more {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto';
  color: #2a477d;
  margin-top: 90px;
}
.more::after {
  content: ' (нажмите на любую иконку и узнайте больше)';
  font-size: 14px;
  font-weight: 500;
  color: #068ca6;
}
.pacients {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
